/* --- Tailwind Core --- */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* --- Reset --- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100vh;
  font-family: 'Noto Sans KR', sans-serif;
  background-color: #f5f5f5; 
  color: #212121; 
  -webkit-font-smoothing: antialiased;
}

::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


:root {
  --primary-color: #0E1E4A;
  --hover-color: #989dd9;
  --gray-100: #f5f5f5;
  --gray-300: #bebebe;
  --gray-700: #616161;
  --font-sans: 'Noto Sans KR', sans-serif;
}

/* --- Typography --- */
h1, h2, h3, h4 {
  font-weight: bold;
  line-height: 1.4;
}

@layer components {
  .text-32-bold {
    font-size: 2rem;       /* 32px */
    font-weight: 700;
  }

  .text-20-bold {
    font-size: 1.25rem;    /* 20px */
    font-weight: 700;
  }

  .text-18-bold {
    font-size: 1.125rem;   /* 18px */
    font-weight: 700;
  }

  .text-18-regular {
    font-size: 1.125rem;   /* 18px */
    font-weight: 400;
  }

  .text-16-bold {
    font-size: 1rem;       /* 16px */
    font-weight: 700;
  }

  .text-16-regular {
    font-size: 1rem;       /* 16px */
    font-weight: 400;
  }

  .text-12-bold {
    font-size: 0.75rem;    /* 12px */
    font-weight: 700;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/* --- Layout --- */
.custom-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  background-color: #fff;
  text-align: center;
}

@media (min-width: 1024px) {
  .custom-container {
    width: 23.4375rem; 
  }
}
